$size: 5rem !default;
$color: hotpink;

.light {
    transition: 300ms;
    border: 1px solid lighten($color, 10);
    width: $size;
    height: $size;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        border: 2px solid $color;
    }

    @media screen and (max-width: 499px) {
        width: calc($size - 2.5rem);
        height: calc($size - 2.5rem); 
    }
    
}

.on {
    background-color: lighten($color, 20);
}